.icon {
  display: block;
  width: 24px;
  height: 24px;

  background-position: center;
  background-repeat: no-repeat;

  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../icons/icon-phone.svg);
  }

  &--menu {
    background-image: url(../icons/icon-burger.svg);
    transition: 0.3s;

    &:hover {
      background-image: url(../icons/icon-burger-hover.svg);
    }

  }

  &--close {
    background-image: url(../icons/icon-close.svg);
  }
}
