.nav {
  &__link {
    position: relative;
    color: $text-color;
    text-decoration: none;

    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;

    @include on-tablet {
      font-size: 28px;
      line-height: 28px;
    }

    @include underline-hover($text-color, 1px, -8px, $anim-duration);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 25px;

    @include on-tablet {
      margin-top: 50px;
    }
  }
}
