.working-hours {
  @include page-grid;

  &__header {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__list {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__overline {
    color: $accent-main;
  }
}
